# Build outputs
bin/
obj/
/packages/
.env
*.p12
*.mobileprovision
*.user
appsettings.local.json
.claude

# Rider/ReSharper
.idea/
riderModule.iml
/_ReSharper.Caches/

# macOS
.DS_Store

# qodana
qodana.yaml
